<p-button
  (click)="showCreateModal = true"
  label="Agregar Producto"
  icon="pi pi-plus"
></p-button>
<hr />
<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Categoría</th>
      <th>Peso</th>
      <th>En Stock</th>
      <th>Acción</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.idProduct }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.weight }}</td>
      <td>
        <i
          style="color: green"
          *ngIf="product.onStock"
          class="pi pi-check-circle"
        ></i>
        <i
          style="color: red"
          *ngIf="!product.onStock"
          class="pi pi-times-circle"
        ></i>
      </td>
      <td>
        <p-button
          (click)="obtenerProducto(product.idProduct)"
          icon="pi pi-pencil"
          styleClass="p-button-rounded p-button-info p-button-outlined"
        ></p-button>
        &nbsp;
        <p-button
          (click)="eliminarProducto(product.idProduct)"
          icon="pi pi-trash"
          styleClass="p-button-rounded p-button-danger p-button-outlined"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  id="dialogo"
  header="Datos Del Producto"
  [(visible)]="showCreateModal"
  [style]="{ width: '50vw' }"
>
  <div id="createForm">
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        [(ngModel)]="createProductBody.name"
        pInputText
      />
      <label for="float-input">Nombre</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="number"
        [(ngModel)]="createProductBody.price"
        pInputText
      />
      <label for="float-input">Precio</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="number"
        [(ngModel)]="createProductBody.quantity"
        pInputText
      />
      <label for="float-input">Cantidad</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        [(ngModel)]="createProductBody.category"
        pInputText
      />
      <label for="float-input">Categoría</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="number"
        [(ngModel)]="createProductBody.weight"
        pInputText
      />
      <label for="float-input">Peso</label>
    </span>
    <div class="field-checkbox">
      <p-checkbox
        [binary]="true"
        inputId="binary"
        [(ngModel)]="createProductBody.onStock"
      ></p-checkbox>
      &nbsp;
      <label for="binary">En Inventario</label>
    </div>
  </div>
  <p-button
    (click)="crearProducto()"
    label="Guardar"
    icon="pi pi-save"
  ></p-button>
</p-dialog>

<p-dialog
  id="dialogo"
  header="Actualización De Datos Del Producto"
  [(visible)]="showEditModal"
  [style]="{ width: '50vw' }"
>
  <div id="createForm">
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        [(ngModel)]="editProductBody.name"
        pInputText
      />
      <label for="float-input">Nombre</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="number"
        [(ngModel)]="editProductBody.price"
        pInputText
      />
      <label for="float-input">Precio</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="number"
        [(ngModel)]="editProductBody.quantity"
        pInputText
      />
      <label for="float-input">Cantidad</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        [(ngModel)]="editProductBody.category"
        pInputText
      />
      <label for="float-input">Categoría</label>
    </span>
    <span class="p-float-label">
      <input
        id="float-input"
        type="number"
        [(ngModel)]="editProductBody.weight"
        pInputText
      />
      <label for="float-input">Peso</label>
    </span>
    <div class="field-checkbox">
      <p-checkbox
        [binary]="true"
        inputId="binary"
        [(ngModel)]="editProductBody.onStock"
      ></p-checkbox>
      &nbsp;
      <label for="binary">En Inventario</label>
    </div>
  </div>
  <p-button
    (click)="actualizarProducto()"
    label="Actualizar"
    icon="pi pi-save"
  ></p-button>
</p-dialog>
